<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="k_product_update_from_pim">
        <observer name="k_product_update_from_pim" instance="Ksa\Update\Observer\ProductUpdateInformation" />
    </event>
</config>
